body {
    margin: 0px;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.header {
    background-color: black ;  
}


.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px; 
    align-items: center;
}

.logo {
    color: #E3B873;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: none;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    color: #FFFFFF;
}

.button-request {
    width: 161px;
    height: 37px;
}

.header-navigation {
    text-transform: uppercase;
    list-style: none;
    display: flex;
    margin: 0px;
}

.header-navigation__items {
    margin-right: 47px; 
}

.header-navigation__link {
    text-decoration: none;
    color: white;
    display: flex;   
}

.step1span {
    color: #E3B873;
}

.Turnkey {
    background: url('../image/image.jpg');
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    padding-left: 134px;
    position: relative;
}

.title {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    color: #FFFFFF;
}
.title-turnkey {
    margin: 0px;
    font-size: 40px;
    line-height: 53px;
    width: 550px;
}

.text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    color: white;
}

.text-turnkey {
    width: 482px;
    height: 89px;
    font-size: 22px;
    line-height: 36px;
}

.button-calculate {
    width: 207px;
    height: 61px;
    padding: 20px 42px;
    margin-top: 30px;
}

.button-submit {
    border: 1px solid #FFFFFF;
    margin-left: 20px;
    padding: 20px 22px;
    background: rgba(0, 0, 0, 0.3); 
}

.darktheme {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

.container-turnkey { 
    position: relative;
    z-index: 110;
}

.section-projects {
    background-color: black;
    height: 1074px;
}
.container-projects {  
    height: 83px;   
}

.projects-navigation {
    text-transform: uppercase;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0px;
}

.projects-navigation_item {
    margin: 47px;
}

.projects-navigation_link {
    text-decoration: none;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    
}

.projects-navigation_link:hover {
    text-decoration: underline;
    color: #E3B873;
} 

.completed-projects {
    padding-left: 134px;
}

.completed-projects_title {
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    color: #E3B873;
    width: 253px;
    height: 66px;
}

.completed-projects_text {
    font-size: 14px;
    line-height: 27px;
    width: 442px;
    height: 86px;

}

.completed-projects_image {
    background-image: url('../image/image2.png');
    background-size: cover;
    width: 679px;
    height: 482px;
    float: right;
    margin-right: 123px;
}

.completed-projects_info {
    display: flex  ;
    flex-wrap: wrap;
    height: 200px;  
}

.completed-projects_info__block {
    width: 200px;  
}

.completed-projects_info_item {
    font-size: 18px;
    line-height: 25px;
    color: #E3B873;
}

.step2span {
    font-size: 13px;
    line-height: 21px;
}

.figures {
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin-left: 137px;
    margin-top: 86px;
}

.figure{
    cursor: pointer;
    color: white;
}

.circle, .white {
    width: 10px; 
    height: 10px;
    border-radius: 50%;

}
.circle {
    background: rgba(255, 255, 255, 0.3);
}

.white {
    background: white;
}

.vector {
    transform: rotate(180deg);
}

.control-title{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-size: 20px;
    line-height: 28px;
    margin-top: -298px;
    color: #FFFFFF;

}

.types-title {
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    color: black;
}

.camera-logo_image {
    background-image: url('../svg/Vector.svg');
}

.tools-logo_image {
    background-image: url('../svg/Vector2.svg'); 
}
.icon {
    height: 28px;
    width: 32px;
    background-repeat: no-repeat;
    margin-left: 9.5px;
    margin-right: 8px;
}

.hr {
   color: #E3B873;

}

.camera-logo, .tools-logo {
    display: flex;
    justify-content: center ;
}

.video-image {
    background-image: url('../image/image3.png');
    background-repeat: no-repeat;
    height: 434px;
    width: 817px;
    margin: 32px 0px 63px 0px;
    -webkit-filter: brightness(40%)
}

.video {
    display: flex;
    justify-content: center;
}

.video-ellipse {
    position: absolute;
    width: 85px; 
    height: 85px;
    border-radius: 50%;
    background: #E3B873;
    margin-top: 205px;
}

.video-play {
    margin: 29px;
	border-top: 14px solid transparent;
	border-left: 28px solid white;
	border-bottom: 14px solid transparent;
}

.control-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hr2 {
    margin-bottom: 35px;
}

.control-content_text {
    margin: 0px;
    width: 681px;
    height: 131px;
    font-size: 18px;
    line-height: 37px;
    color: black;
    text-align: center;
}

.input {   
    border: none; 
    border-bottom: 1px solid black ; 
}

.name_input:focus::-webkit-input-placeholder {
    color: transparent
}

.data_label{
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
    cursor: pointer;
}


.phonenumber_input:focus::-webkit-input-placeholder {
    color: transparent
}

.data {
    display: flex;
    justify-content: space-around;
    margin: 93px 334px 0px 333px;
    flex-wrap: wrap;
}

.button-checkbox {
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    width: 200px;
    height: 51px;
}

.checkbox_text {
    font-size: 14px;
    line-height: 23px;
    color: #181818;
}

.checkbox{
    margin-top: 39px;
    margin-bottom: 92px;
}

.decorating_image {
    background: url('../image/decorating.jpg');
}

.overhaul_image {
    background: url('../image/overhaul.jpg');
}

.designer_image {
    background: url('../image/designer.jpg');
}

.img {
    width: 392px;
    height: 421px;
}

.types_images {
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
}

.types-info {
    display: flex;
    justify-content: space-around;
}

.info {
    width: 330px;
    height: 286px;
    margin-top: -127px;
    border: 1px solid white;
    background-color: #fff;
}

.types_title {
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    margin: 25px 80px 240px 31px;
    width: 210px;
    height: 21px;
}

.types_text {
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}



.from {
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    width: 228px;
    height: 54px;
    text-align: center;
   
}

.from_text {
    font-size: 18px;
    line-height: 60px;
    width: 190px;
    height: 20px;
}