body {
    margin: 0px; 
}

* {
    box-sizing: border-box;
    font-family: Nunito Sans;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.header {
    background-color: black ;  
}

.header-navigation__link:hover {
    text-decoration: underline;
    color: #E3B873;;
}

.header-content {
    display: flex;
    justify-content: space-around;
    height: 83px; 
    align-items: center;
}

.logo {
    color: #E3B873;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: none;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    color: #FFFFFF;
}

.button-request {
    width: 161px;
    height: 37px;
}

.header-navigation_list {
    text-transform: uppercase;
    list-style: none;
    display: flex;
    margin: 0px;
}

.header-navigation {
    margin-left: 95px;
}

.header-navigation__items {
    margin-right: 47px; 
}

.header-navigation__link {
    text-decoration: none;
    color: white;
    display: flex;   
}

.header-span {
    color:#E3B873;
}

.tel {
    text-decoration: underline;
    margin-left: 67px;
}

.section-Turnkey {
    background: url('../image/image.jpg');
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    padding-left: 134px;
    position: relative;
}

.title {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    color: #FFFFFF;
}

.title-turnkey {
    margin: 0px;
    font-size: 40px;
    line-height: 53px;
    width: 550px;
}

.turnkey_span {
    color:#E3B873;
}

.text {
    font-style: normal;
    font-weight: normal;
    color: white;
}

.text-turnkey {
    width: 482px;
    height: 89px;
    font-size: 22px;
    line-height: 36px;
}

.button-calculate {
    width: 207px;
    height: 61px;
    padding: 20px 42px;
    margin-top: 30px;
}

.button-submit {
    border: 1px solid #FFFFFF;
    margin-left: 20px;
    padding: 20px 22px;
    background: rgba(0, 0, 0, 0.3); 
}

.dark {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

.container-turnkey { 
    position: relative;
    z-index: 110;
}

.section-projects {
    background-color: black;
    height: 1074px;
}

.container-projects {  
    height: 83px;   
}

.projects-navigation {
    text-transform: uppercase;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0px;
}

.projects-navigation_item {
    margin: 47px;
}

.projects-navigation_link {
    text-decoration: none;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3); 
}

.projects-navigation_link:hover {
    text-decoration: underline;
    color: #E3B873;
} 

.completed-projects {
    padding-left: 134px;
}

.completed-projects_title {
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    color: #E3B873;
    width: 253px;
    height: 66px;
}

.completed-projects_text {
    font-size: 14px;
    line-height: 27px;
    width: 442px;
    height: 86px;
}

.completed-projects_image {
    background-image: url('../image/image2.png');
    background-size: cover;
    width: 690px;
    height: 482px;
    float: right;
    margin-right: 52px;
    margin-top: -200px;
}


.completed-projects_info {
    display: flex;
    flex-wrap: wrap;
    height: 200px;  
}

.completed-projects_info__block {
    width: 200px;  
}

.completed-projects_info_item {
    font-size: 18px;
    line-height: 25px;
    color: #E3B873;
}

.step2span {
    font-size: 13px;
    line-height: 21px;
}

.figures {
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin-left: 137px;
    margin-top: 86px;
    align-items: center;
}

.figure{
    cursor: pointer;
    color: white;
    font-size: xx-large;
}

.circle, .white {
    width: 10px; 
    height: 10px;
    border-radius: 50%;

}

.circle {
    background: rgba(255, 255, 255, 0.3);
}

.white {
    background: white;
}

.rotatevector {
    margin-bottom: 3px;
}

.vector {
    transform: rotate(180deg);
}

.control-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 28px;
    margin-top: -298px;
    color: #FFFFFF;
}

.types-title {
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    color: black;
}

.camera-logo_image {
    background-image: url('../svg/Vector.svg');
}

.tools-logo_image {
    background-image: url('../svg/Vector2.svg'); 
}

.icon {
    height: 28px;
    width: 32px;
    background-repeat: no-repeat;
    margin-left: 9.5px;
    margin-right: 8px;
}

.hr {
   color: #E3B873;
}

.camera-logo, .tools-logo {
    display: flex;
    justify-content: center ;
}

.video-image {
    background-image: url('../image/image3.png');
    background-repeat: no-repeat;
    height: 434px;
    width: 817px;
    margin: 32px 0px 63px 0px;
    -webkit-filter: brightness(40%)
}

.video {
    display: flex;
    justify-content: center;
}

.video-ellipse {
    position: absolute;
    width: 85px; 
    height: 85px;
    border-radius: 50%;
    background: #E3B873;
    margin-top: 205px;
}

.video-play {
    margin: 29px;
	border-top: 14px solid transparent;
	border-left: 28px solid white;
	border-bottom: 14px solid transparent;
}

.control-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hr2 {
    margin-bottom: 35px;
}

.control-content_text {
    margin: 0px;
    width: 681px;
    height: 131px;
    font-size: 18px;
    line-height: 37px;
    color: black;
    text-align: center;
}

.input {   
    border: none; 
    border-bottom: 1px solid black ; 
}

.name_input:focus::-webkit-input-placeholder {
    color: transparent
}

.data_label{
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
    cursor: pointer;
}


.phonenumber_input:focus::-webkit-input-placeholder {
    color: transparent
}

.data {
    display: flex;
    justify-content: space-around;
    margin: 93px 334px 0px 333px;
    flex-wrap: wrap;
}

.button-checkbox {
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    width: 200px;
    height: 51px;
}

.checkbox_text {
    font-size: 14px;
    line-height: 23px;
    color: #181818;
}

.first-checkbox{
    margin-top: 39px;
    margin-bottom: 92px;
}

.checkbox {
    display: none;
}

.fake-checkbox{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
  }
  .fake-checkbox::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
  }
  .checkbox:checked + .fake-checkbox::before{
    opacity: 1;
  }

.decorating_image {
    background-image: url('../image/decorating.jpg');
}

.overhaul_image {
    background-image: url('../image/overhaul.jpg');
}

.designer_image {
    background-image: url('../image/designer.jpg');
}

.img {
    width: 392px;
    background-repeat: no-repeat;
}

.types_images {
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
}

.info {
    border: 1px solid white;
    background-color: #fff;
    width: 330px;
    height: 286px;
    margin-top: 294px;
    margin-left: 31px;
}

.types_title {
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    margin: 25px auto 13px 31px;
    width: 210px;
    height: 21px;
}

.types_text {
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.from {
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    width: 228px;
    height: 54px;
    text-align: center;
    margin-left: 31px;
}

.from_text {
    font-size: 18px;
    line-height: 60px;
    width: 190px;
    height: 20px;
}

.advantages-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 300px;
}

.advantages-list_nubmer {
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 100%;
    color: white;
    font-family: Yeseva One;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.advantages-list_text {
    color: black;;
    font-size: 14px;
    line-height: 19px;

}

.advantages {
    background-image: url('../image/image4.png');
    height: 600px;
    background-repeat: no-repeat;
    margin-top: 124px;
    display: flex;
    justify-content: space-between;
}

.advantages-form {
    margin-top: 54px;
    background-color: black;
    color: white;
    width: 506px;
    height: 509px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.advantages-title {
    font-family: Nunito Sans;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    text-transform: none;
    margin: 28px auto 39px;
}

.advantages_label {
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 49px;
}

.input2 {
    width: 408px;
    background-color: black;
    border: none; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    color: wheat ; 
    cursor: pointer;
}

.email_input:focus::-webkit-input-placeholder {
    color: transparent;
}

.checkbox-label {
    margin-top: -45px;
    font-size: 14px;
    line-height: 163.68%;   
    cursor: pointer;
}

.checkbox2 {
    cursor: pointer;
}

.Moneybox-logo {
    background-image: url(../svg/pig.svg);
    background-repeat: no-repeat;
    width: 105px;
    height: 95px;
}

.Moneybox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Moneybox-text {
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15)
}

.hands-logo {
    background-image: url(../svg/hands.svg);
    background-repeat: no-repeat;
}

.clients-title {
    font-family: Yeseva One;
    font-size: 20px;
    line-height: 28px;
    color: #181818;
    text-align: center;
}

.clients-logo {
    display: flex;
    justify-content: center;
}

.container-clients {
    margin-top: 72px;
}

.clients-text {
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
}

.reviews {
    display: flex;
    justify-content: space-between;
    margin-top: 63px;
}

.photo {
    width: 76px;
    height: 76px;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.Fedosova-photo {
    background-image: url(../svg/Fedosova.svg);
}


.Afanasyev-photo {
    background-image: url(../svg/Afanasyev.svg);
}

.Kiriev-photo {
    background-image: url(../svg/Kiriev.svg);
}

.about {
    width: 376px;
    height: 428px;
    display: flex;
    flex-wrap: wrap;
}

.text-clients {
    font-size: 13px;
    line-height: 180%;
    color: #959595;
    width: 324px;
    height: 216px;
}

.title-clients {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
    margin-left: 23px;
}

.parameters-logo {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
}

.parameters-m_logo {
    background-image: url(../svg/Group2.svg);
}

.parameters-d_logo {
    background-image: url(../svg/Group.svg);
}

.parameters {
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    align-items: center;
    display: flex;
    width: 293px;
    height: 54px;

}

.parameters-m{
    width: 146px;
    height: 64px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    border-right: 1px solid white;
}

.parameters-d{
    width: 146px;
    height: 64px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}


.parameters-text {
    font-family: Yeseva One;
    font-size: 17px;
    line-height: 24px;
}

.question-form {
    background-color: black;
    width: 883px;
    height: 445px;
    margin: 131px auto -222px;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 999;
}


.question-form_title {
    font-family: Yeseva One;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.question_label {
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    width: 231px;
}

.input3 {
    width: 231px;
    background-color: black;
    border: none; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.15); 
    cursor: pointer;
    color: white;
}

.question-form-label_position {
    display: flex;
    justify-content: space-between;
    height: 140px;
    flex-wrap: wrap;
    width: 517px;
}

.question_input {
    width: 499px;
}

.question_label_3 {
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    width: 517px;
}

.question_input:focus::-webkit-input-placeholder {
    color: transparent;
}

.checkbox3_text {
    font-size: 14px;
    line-height: 163.68%;
}

.input3::placeholder, .input2::placeholder {
    color: white; 
    font-size: 14px;
    line-height: 23px;
 } 

 .section-addres{
     background-image: url(../image/image6.png);
     background-size: cover;
     height: 954px;
     position: relative;
     z-index: 1;
 }

 .addres-container {
    height: 954px;
    margin: 0px;
    max-width: none;
    z-index: 110;
    position: relative;
    z-index: 3;
 }

 .addres-Rostov {
    padding-top: 273px;
    display: flex;
    justify-content: center;
    width: 547px;
    flex-wrap: wrap;
    margin: 0 auto;
 }

 .addres-logo {
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
 }

.insta {
    background-image: url(../svg/isnta.svg);
}

.message {
    background-image: url(../svg/message.svg);
}

.addres-title {
    font-family: Yeseva One;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #E3B873
}

.map  { 
    margin-top: 30px;
}

.darkTheme2 {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

@media screen and (max-width: 1300px) {
    .header-navigation, 
    .button-request, 
    .figures, 
    .advantages, 
    .Moneybox, 
    .reviews, 
    .clients-text, 
    .clients-title, 
    .clients-logo, 
    .footer, 
    .projects-navigation_item  {

        display: none;
    }
    
    .header-span, .repair-logo {
        text-decoration:none;
        font-size: 11px;
        line-height: 15px;
        text-transform: uppercase;
    }

    .header-span {
        color: white;
    }

    .header-content {
        justify-content: center;
    }

    .section-Turnkey {
        padding: 85px 18px;
        height: unset;
    }

    .container-turnkey {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button {
        box-shadow: unset;
        width: 339px;
    }

    .button-submit {
        margin-left: unset;
        margin-top: 26px;
        width: 207px;
        height: 61px;
        width: 339px;
    }

    .title-turnkey {
        font-size: 23px;
        line-height: 132.83%;
        width: 339px;
        height: 60px;
    }

    .text-turnkey {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 135.84%;
        width: 339px;
    }

    .completed-projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 18px;
        padding-right: 18px;
    }
    
    .completed-projects_info {
        width: 400px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 36px;
    }

    .completed-projects_image {
        margin: unset;
        width: 400px;
        height: 284px;
        background-image: url('../image/image7.png');
    }

    .completed-projects_title {
        font-size: 22px;
        line-height: 138.6%;
        text-align: center;
        letter-spacing: -0.07em;
        text-transform: uppercase;
        width: 229px;
        height: 66px;
    }

    .completed-projects_text {
        font-size: 11px;
        line-height: 158.48%;
        text-align: center;
        width: 315px;
    }

    .completed-projects_info_item {
        font-size: 14px;
        line-height: 138.6%;
    }

    .step2span{
        font-size: 11px;
        line-height: 135.84%;
    }

    .completed-projects_info__block {
        height: 95px;
    }

    .control {
        background-color: black;
        height: 1140px;
    }

    .control-title {
        font-size: 22px;
        line-height: 138.6%;
    }

    .control-content_text {
        font-size: 11px;
        line-height: 169.8%;
        color: #FFFFFF;
        width: 340px;
    }

    .data {
        flex-direction: column;
        align-items: center;
        margin: unset;
    }

    .data_label {
        margin-top: 62px;
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 10px;
    }

    .hr2 {
        font-size: xx-large;
    }

    .input {
        width: 340px;
        background-color: black;
        border-bottom: 1px solid white; 
        color: white;
    }

    .input::placeholder {
        color: white;
        background-color: black;
    }

    .checkbox_text {
        font-size: 14px;
        line-height: 163.68%;
        color: #FFFFFF;
    }

    .button-checkbox {
        margin-top: 65px;
    }

    .first-checkbox {
        margin-top: -110px;
    }

    .types {
        margin-top: 83px;
    }

    .types_images {
        flex-direction: column;
        margin-top: 53px;
        align-items: center;
    }

    .from {
        margin-bottom: 59px;
    }

    .question-form {
        width: auto;
        height: unset;
    }

    .question-form-label_position {
        width: unset;
        display: unset;
    }

    .question_input {
        width: 231px;
    }

    .input3 {
        margin-bottom: 63px;
    }

    .checkbox3-label {
        margin-top: 136px;
    }

    .section-addres {
        background-color: black;
        background-image: unset;
    }

    .darkTheme2 {
        display: none;
    }

    .map {
        order: -1;
        margin-bottom: 40px;
    }

    .addres-title {
        line-height: 138.6%;
    }


}