@media screen and (max-width: 1300px) {
    .header-navigation, .button-request {

        display: none;
    }
    
    .header-span {
        color: white;
        text-decoration:none
    }


    

}